body{
    font-family: "Geometria-Medium";
}

html{
    background: url("../image/sky.png") no-repeat center fixed;
    -webkit-background-size: cover;
}

h2{
    font-size: 40px;
}

ol{   
    text-align: left;  
    list-style-position: inside; 
}

.link{
    color: #59C7C7;
    text-decoration: underline;
    cursor: pointer;
}

.error{
    color: white;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    width: 100%;
    justify-content: center;
    display: block;
}

.button{
    width: 30%;
    background-color: #008E8E;
    color: white;
    padding: 1%;
    box-shadow: 5px 5px 20px #005C5C;
    margin: auto;
    display: block;
    border-radius: 10px;
    font-size: 30px;
    border: none;
    font-family: "Geometria-Medium";
    cursor: pointer;
}

.main{
    width: 70%;    
    border-radius: 10px;
    background: rgba(16,58,158,0.6);
    box-shadow: 1px 1px 50px #000;
    margin: 2% auto ;
    display: block;
    font-size: 30px;
    padding: 1%;
    color: white;
    text-align: center;
}

@font-face{
    font-family: "Geometria-Medium";
    src: url(../fonts/geometria_medium.otf);
}
