body{
    font-family: "Geometria-Medium";
    text-shadow: black 1px 0 10px;
}

html{
    background: url("../image/bg_balloons.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: 100%;
}

h2{
    text-shadow: black 1px 0 10px;
    font-size: 40px;
}

ol{   
    text-align: left;  
    list-style-position: inside; 
}

.link{
    color: yellow;
    text-decoration: underline;
    cursor: pointer;
}

.error{
    color: white;
    text-shadow: black 1px 0 10px;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    width: 100%;
    justify-content: center;
    display: block;
}

.button{
    width: 30%;
    background: linear-gradient(to bottom, rgba(254, 39, 18, 0.9), rgba(193, 20, 20, 0.9)); 
    color: white;
    padding: 1%;
    /*box-shadow: 5px 5px 20px #005C5C;*/
    margin: auto;
    display: block;
    border-radius: 10px;
    font-size: 30px;
    border: none;
    font-family: "Geometria-Medium";
    cursor: pointer;
}

.main{
    width: 70%;    
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(254, 90, 28, 0.9), rgba(255, 225, 52, 0.9));
    box-shadow: 1px 1px 50px #000;
    margin: 2% auto ;
    display: block;
    font-size: 30px;
    padding: 1%;
    color: white;
    text-align: center;
}

@font-face{
    font-family: "Geometria-Medium";
    src: url(../fonts/geometria_medium.otf);
}
