div{
    height: 100%;
    min-height: 520px;
}

#container{
    margin: 4% 20%;
}

#message{
    font-weight: bolder;
    color: white;
    font-size: 30px;
    display: block;
    margin: auto;
    text-align: center;
}
